<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hai.jedi.myrestaurants">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <!--Main activity is called first when app is launched-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RestaurantsActivity">
            <!--Providing additional info that MainActivity is Restaurants Activity's parent-->
            <!--This allows us to have the back button from the Restaurants Activity-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hai.jedi.myrestaurants.MainActivity">
            </meta-data>
        </activity>
    </application>

</manifest>